* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 1450px;
}

#content {
    background-color: #f9f9f9;

    height: auto;
    width: 1200px;
    text-align: center;
    border-bottom: 10px solid #f9f9f9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    gap: 5px;
    grid-template-areas:
        'header   header  header  header  header'
        'content  content content content content'
        'footer   footer  footer  footer  footer';
}

#header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #def7f4;
    width: 1260px;
    height: 69px;

}

.Faleconosco {
    position: absolute;
    top: 20px;
    left: 850px;
    height: 200px;
    width: 200px;
}

.Especialidades {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 200px;
    width: 200px;
}

.Exames {
    position: absolute;
    top: 20px;
    left: 450px;
    height: 200px;
    width: 200px;
}


.Convenio {
    position: absolute;
    top: 20px;
    left: 650px;
    height: 200px;
    width: 200px;

}


.login {
    position: absolute;
    margin-top: -110px;
    left: 1130px;
    height: 200px;
    width: 120px;
    text-decoration: none;
    color: #000000;
}

.imagem {
    background-image: url(../img/image\ 5.png);
    height: 100px;
    width: 70%;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 25% 70%;
    margin-bottom: 10px;

}

.imagem1 {
    background-image: url(../img/Group\ 97.png);
    height: 40px;
    width: 40%;
    position: absolute;
    bottom: -790px;
    left: 370px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25% 70%;
    margin-bottom: 10px;
}

#content {
    text-align: justify;
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#bloco1 {
    height: 303px;
    width: 600px;
    background-color: #393b3b;
    padding: 15px;
    margin: -20px;
    margin-top: -10px;
    border: solid #ffffff 2px;
    justify-content: center;
    position: absolute;
    left: 25px;
    top: 140px;
    border-radius: 20px;
    z-index: 1;
}

#tituloblc1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    padding: 60px;
    margin: -5px;
    top: -50px;
    width: 400px;
    height: 50px;
    position: absolute;
    left: 100px;
    justify-content: center;
    position: relative;
    top: -45px;
    z-index: 1;
}

.carrossel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    overflow: hidden;
    width: 600px;
    left: 595px;
    top: -1.7px;
    position: absolute;
    scrollbar-width: none;
    border: #000000 solid 2px;
    border-radius: 20px;
    
}



@keyframes animacao {
    0% {
        margin-left: 0;
    }

    17% {
        margin-left: 0;
    }

    34% {
        margin-left: -100%;
    }

    51% {
        margin-left: -100%;
    }

    68% {
        margin-left: -200%;
    }

    85% {
        margin-left: -200%;
    }

    100% {
        margin-left: -300%;
    }

}

.card{

    width: 600px;
    height: 299px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: animacao;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    border-radius: 20px;

}

.carrossel1 {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    overflow: hidden;
    width: 600px;
    left: 595px;
    position: absolute;
    scrollbar-width: none;
    top: 235px;
    position: absolute;
    border-radius: 20px;

}

.card1 {
    width: 600px;
    height: 299px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: animacao;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    border-radius: 20px;
}

.carrossel2 {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    overflow: hidden;
    width: 600px;
    left: -600px;
    top: -1.7px;
    position: absolute;
    scrollbar-width: none;
    border: #000000 solid 2px;
    border-radius: 20px;

}

.carrossel3 {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    overflow: hidden;
    width: 600px;
    left: -600px;
    position: absolute;
    scrollbar-width: none;
    top: 235px;
    position: absolute;
    border-radius: 20px;
    border-radius: 20px;
}

figcaption {
    color: #ffff;
    width: 600px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: animacao;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    background-color: #7a737379;
    position: relative;
    top: 0;
    border-radius: 20px;
}


.texto1 {
    height: 100px;
    width: 550px;
    margin: 5px;
    padding: 15px;
    position: relative;
    top: -10px;
    color: white;

}

#bloco2 {
    height: 303px;
    width: 600px;
    background-color: #549867;
    padding: 15px;
    margin: -20px;
    margin-top: -10px;
    border: solid rgb(0, 0, 0) 2px;
    justify-content: center;
    position: absolute;
    left: 625px;
    top: 500px;
    border-radius: 20px;
}

.tituloblc2 {
    text-align: center;
    font-weight: bold;
    padding: 60px;
    margin: -5px;
    top: -50px;
    width: 400px;
    height: 50px;
    position: absolute;
    left: 100px;
    justify-content: center;
    font-size: 1.2em;

}

.texto2 {
    height: 100px;
    width: 500px;
    margin: -5px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;

}

#missao {
    height: 300px;
    width: 394.4px;
    background-color: #2AE5DA;
    padding: 15px;
    margin: -20px;
    margin-top: -10px;
    border-width: 8px;
    border-style: double;
    border-color: #ffffff;
    justify-content: center;
    position: absolute;
    left: 26px;
    top: 850px;

}

.img2 {

    width: 394.4px;
    text-align: center;
    background-repeat: no-repeat;
    position: relative;
    top: 15%;
    left: -15px;
}

.titulomissao {
    width: 394.4px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin: -5px;
    position: absolute;
    top: 15px;
    left: 5px;
    justify-content: center;


}

.textomissao {
    height: 100px;
    width: auto;
    margin: -5px;
    padding: 15px;
    top: 160px;
    position: absolute;
}

#visao {
    height: 300px;
    width: 394.4px;
    background-color: #2AE5DA;
    padding: 15px;
    margin: -20px;
    margin-top: -10px;
    border-width: 8px;
    border-style: double;
    border-color: #ffffff;
    justify-content: center;
    position: absolute;
    left: 441px;
    top: 850px;


}

.titulovisao {

    width: 394.4px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin: -5px;
    position: absolute;
    top: 15px;
    justify-content: center;
    left: 5px;
}




.textovisao {
    height: 100px;
    width: 394.4px;
    margin: -45px;
    position: absolute;
    top: 200px;
    left: 40px;
    padding: 15px;


}

#valores {
    height: 300px;
    width: 394.4px;
    background-color: #14efe1;
    padding: 15px;
    margin: -20px;
    margin-top: -10px;
    border-width: 8px;
    border-style: double;
    border-color: #ffffff;
    justify-content: center;
    position: absolute;
    left: 856px;
    top: 850px;


}

.titulovalores {
    width: 380px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin: -5px;
    position: absolute;
    top: 15px;
    left: 10px;
}

.textovalores {
    height: 100px;
    width: 394.4px;
    margin: -45px;
    position: absolute;
    top: 200px;
    left: 40px;
    padding: 15px;
}

.img2 {
    position: relative;
    background-repeat: no-repeat;

}


footer {

    position: absolute;
    bottom: -900px;
    background-color: #06443d;
    height: 50px;
    width: 1260px;
    justify-content: center;
    text-align: center;
    align-items: center;


}

.rodape {
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    top: 10px;
    color: #ffffff;

}

#trampo {
    background-color: #0A8095;
    color: white;
    width: 300px;
    height: 170px;
    border: 2px solid rgb(3, 73, 110);
    border-radius: 20px;
    margin: 10px;
    justify-content: left;
    text-align: center;
    display: flex;
    align-items: baseline;
    position: absolute;
    top: -250px;
}

#trampo1 {
    background-color: #0A8095;
    color: white;
    width: 300px;
    height: 170px;
    border: 2px solid rgb(3, 73, 110);
    border-radius: 20px;
    margin: 10px;
    justify-content: left;
    text-align: center;
    display: flex;
    align-items: baseline;
    position: absolute;
    top: -250px;
    left: 350px;
}

#imagem4 {

    background-image: url(../img/senai1.png);
    height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% 80%;
    margin-bottom: 10px;
    position: absolute;
    top: 75px;
}

#trampo2 {
    background-color: #0A8095;
    color: white;
    width: 300px;
    height: 170px;
    border: 2px solid rgb(3, 73, 110);
    border-radius: 20px;
    margin: 10px;
    justify-content: left;
    text-align: center;
    display: flex;
    align-items: baseline;
    position: absolute;
    top: -250px;
    left: 700px;
}

.text1 {
    justify-content: left;
    text-align: center;
    display: flex;
    align-items: baseline;
    position: absolute;
    top: 20px;
    margin: 15px;
    left: 10px;
    color: #ffffff;
}

.text2 {
    justify-content: left;
    text-align: center;
    display: flex;
    align-items: baseline;
    position: relative;
    top: 70px;
    margin: 15px;
    padding: 5px;
    right: 15px;
    color: #ffffff;
}

.text3 {
    justify-content: right;
    text-align: center;
    display: flex;
    align-items: baseline;
    position: relative;
    top: -90px;
    margin: 15px;
    right: 15px;
    color: #ffffff;

}

#text4 {
    top: 5px;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: baseline;
    position: absolute;
    left: 95px;
}

#text5 {
    top: 5px;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: baseline;
    position: absolute;
    left: 20px;
}

#text6 {
    top: 0px;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: baseline;
    position: absolute;
    left: 40px;

}

.palavra-clique {
    cursor: pointer;

}

.oculto {
    display: none;
    list-style-type: none;
    padding-left: 20px;

}

.lista {
    height: 30px;
    width: 150px;
    background-color: #ccbbbb;
    list-style: none;
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px;
    z-index: 2;
    position: relative;

}


.palavra-clique::before {
    content: "\25BC";
    display: inline-block;
    margin-right: 5px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}