*{margin: 0; padding: 0; box-sizing: border-box;}
body{
    background-color: #F9F9F9
}
.container{
    padding: 0;
    display: grid;
    gap: 5px;/*espaçamento entre as colunas*/
    grid-template-areas:
    'header header header header header'
    'content content content content content'
    'footer footer footer footer footer';}
    
#header{
    grid-area: header;
    justify-content: flex-end;
    width: all;
    background-color: #A5E5DA; 
    border: 15px;
    margin: 0px;
    height: 100%;
    
    }
#content{
    grid-area: content;
    padding: 25px;
    height: 400px;
    width: all;
    
    
}
#footer{
    background-color: #9ed8d5;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    height: 30px;
  
}

.logout{
    position: absolute;
    left: 1150px;
    margin-top: -60px;
    height: 200px;
    width: 200px;
    font-family: roboto;
    color: white ;

}

.Rodape{
    text-align: center;
    font-size: small;
    
    
}
#quadro-aviso {
    background-color: #F9F9F9; /* amarelo */
    color: #000;
    width: 400px;
    height: 150px;
    margin: 0 auto; /* centralizar horizontalmente */
    padding: 15px;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
    float: left;
  }
.img{
    width: 700px;
    height: 400px;
    background-image:  url(../img/medicoepaciente3.jpg);
    float: right;
    background-size: cover;
    margin-top: -90px;
}
  
