*{margin:0%; padding: 0%;box-sizing:border-box;}

body{
    background-color: #f9f9f9;
}
#tabela{
    width: 60%;
    border: 1;
    top: -120px;
    position: relative;
    left: 300px;
}
.titulo{
    background-color: cornflowerblue;
    color: #000000;
    width: 150px;
    height: 50px;
}
.container{
    background-color: #F9F9F9;
    padding: 0;
    display: grid;
    gap: 5px;/*espaçamento entre as colunas*/
    grid-template-areas:
    'header header header header header'
    'content content content content content'
    'footer footer footer footer footer';}


#header{
    grid-area: header;
    justify-content: flex-end;
    width: all;
    background-color: #def7f4; 
    border: 15px;
    margin: 0px;
    height: 100%;
    
    }

    #footer{
       
        background-color: #9ed8d5;
        width:100%;
        height: 50px;         
        align-items: center;
        position:absolute;
        bottom: 0;
        padding: 20px;
        position: relative;
        
                
    }
    
    .Rodape{
        text-align: center;
        font-size: small;
        color: black;
    }
    .cabeçalho{
        
        position: absolute;
        border: 15px;
        margin-top:-80px;
        width:all;
        height: 50px;
        display:flex;
        justify-content: center;
        align-items: center;
        gap:50px;
        left: 25%;
        padding: 30px;
        }
      

        #Logout{
            position: relative;
            left: 200px;
            padding: 7px;
        }

        .calendario{
            padding: 30px;
            top: 50px;
            left: 30px;
        }
        .content{
            
            position: relative;
            left: 20%;
            top: -20px;
            
            
        }
        .busca{
            position: relative;
            left: -175px;
            top: 20px;
           

        }
        .buscar{
            position: relative;
            left: 0px;
            top: 0px;
            
        }
        .novo{
            position: relative;
            left: 100px;
            top:-20px;
            
        }
        .lista{
            position: relative;
            left: 230px;
            top: -38px;
        }
        .observacao{
            position: relative;
            left: 500px;
            top: -55px;
           
        }
        .imprimir{
            position: relative;
            left: 660px;
            top: -73px;
           
        }
        .agendar{
            position: relative;
            left: 800px;
            top: -95px;
            
        }

     