*{padding: 0; margin: 0; box-sizing: border-box;}
#conteudo{
    background-color: rgb(204, 0, 255);
    width: 600px;
    height: 600px;

}
#texto{
    background-color: blue;
    width: 500px;
    position: absolute;
    right: 500  px;
    top: 100px;
   
}